.burger-icon{
  display:none;
  position:fixed;
  right:3rem;
  top:3rem;
  width:40px;
  height:40px;
  border-radius: 50%;
  border:2px solid white;
  background-color: rgba(0, 0, 0, .8);
}
.burger-icon__bar {
  display:block;
  width:60%;
  top:50%;
  margin-left:20%;
  position:absolute;
  box-sizing: border-box;
  height: 2px;
  background-color: white;
  content: "";
}
.burger-icon__bar:after{
  display:block;
  width:100%;
  top:7px;
  position:absolute;
  box-sizing: border-box;
  height: 2px;
  background-color: white;
  content: "";
  transition: 0.2s;
}

.burger-icon__bar:before{
  display:block;
  width:100%;
  top:-7px;
  position:absolute;
  box-sizing: border-box;
  height: 2px;
  background-color: white;
  content: "";
  transition: 0.2s;
}

.nav--mobile-active .burger-icon__bar{
  height:0px;
  margin-left: 15%;
}

.nav--mobile-active .burger-icon__bar:before{
  transform: rotate(-45deg);
  transform-origin: right;
  width: 85%;
  top: -9px;
  left: 1px;
}

.nav--mobile-active .burger-icon__bar:after{
  transform: rotate(45deg);
  transform-origin: right;
  width: 85%;
  top: 6px;
  right: 3px;
}

//lg-styles
@media only screen and (min-width:$sm-max) {
  .burger-icon{
    width: 50px;
    height: 50px;
  }
  .nav--mobile-active .burger-icon__bar:after{
    top:8px;
  }
  .nav--mobile-active .burger-icon__bar:before{
    top:-10px;
  }
}

//Small styles and down
@media only screen and (max-width:$xl-max) {
  .burger-icon{
    display:block;
  }
}
