
// Mobile styles
@media only screen and (max-width:$sm-max) {
  .mobile-hide {
    display:none;
  }
}

#bg-img-1 {
  background-image: url('../images/img-14-3.jpg')
}

.txt-cntr {
  text-align: center;
}

.hide {
  opacity: 0 !important;
}

.swap-txt-hover {
  overflow:hidden;
  position:relative;
  height:1em;
  width: 100%;
}

.swap-txt-hover__item {
   transition: .5s;
   position:absolute;
   text-align:center;
   pointer-events: none;
   top:0px;
   left:0px;
   right:0px;
   margin: 0px !important;
}

.swap-txt-hover .swap-txt-hover__item:nth-child(2) {
  opacity: 0;
}

.swap-txt-hover:hover .swap-txt-hover__item:nth-child(2) {
  opacity: 1;
}

.swap-txt-hover:hover .swap-txt-hover__item:nth-child(1) {
  opacity: 0;
}

