//colors
$brand-white: white;
$brand-black: black;

//fonts
$header-stack: 'sqrbold', sans-serif;
$sub-header-stack: 'Titillium Web', sans-serif;
$body-stack: 'Titillium Web', sans-serif;
$decorative-stack: 'helvetica', sans-serif;

//Text size

$section__headline: 2rem;
$section__sub-headline: 1.5rem;
$section__body: 1.2rem;

//breakpoints
$xl-max: 99999px;
$xl-min: 1600px;

$lg-max: 1599px;
$lg-min: 1200px;

$md-max: 1199px;
$md-min: 900px;

$sm-max: 899px;
$sm-min: 600px;

$xs-max: 599px;
$xs-min: 0px;


