.hero__pretext {
  font-family: $decorative-stack;
  color: $brand-gold;
  font-size: 84px;
  margin-bottom: -40px;
  font-style: italic;
  font-weight: 100;
}

.hero__logo-text {
  font-family: $header-stack;
  font-size: 40px;
  letter-spacing: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.hero__tagline {
  font-family: $header-stack;
  letter-spacing: 4px;
  font-size: 16px;
}

.feature-2-col {
  padding: 0px 100px;
  display:flex;
  height: 500px;
}

.feature-2-col__image-container {
  min-width: 300px;
  width:50%;
  padding: 0px 6%;
  display: flex;
  align-items: center;
}

.feature-2-col__image-frame {
  align-items: center;
  align-content: center;
  justify-conent: center;
  display: flex;
  flex-wrap: wrap;
  width:100%;
  max-width: 500px;
  height:65%;
}

.feature-2-col__image{
  width:100%;
  max-width: 500px;
}

.feature-2-col__image-container-grid {
  min-width: 300px;
  width:50%;
  padding: 0px 6%;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  align-content: center;
}

.feature-2-col__image-grid{
  width:45%;
  max-width: 500px;
  margin:2.5%;
}

.feature-2-col__image-container-bands {
  width:50%;
  min-width: 300px;
  padding: 0px 6%;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  align-content: center;
}

.feature-2-col__image-band{
  width:45%;
  max-width: 500px;
  margin:2.5%;
}

.feature-2-col__text-block {
  margin-top: 20px;
  min-width: 260px;
  max-width: 550px;
  width:50%;
  padding-left: 10%;
  padding-right: 20px;
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

// Alternate side to push text block towards centre
.feature-2-col:nth-child(4) .feature-2-col__text-block {
  padding-left: 20px;
  padding-right: 10%;
}

.feature-2-col__pretext {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: -40px;
  font-style: italic;
  font-family: "Tangerine", cursive, serif;
  color: #D1AB67;
}

.feature-2-col__headline {
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-align: center;
  font-family: $header-stack;
  color:$off-black;
}

.feature-2-col__body {
  line-height: 1.4;
  text-align: center;
}

.feature-2-col__link {
  text-align: center;
  color:$brand-gold;
  border-bottom:2px solid $brand-gold;
  display:inline;
  width:max-content;
}

.feature-1-col {
  height:450px;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-position-y: -50px;
}

.feature-1-col:nth-child(3) {
  background-image: url('../images/food-background-1.jpg');
}

.feature-1-col:nth-child(5) {
  background-image: url('../images/food-background-2.jpg');
}

.feature-1-col__pretext{
  font-size: 80px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: -40px;
  font-style: italic;
  font-family: $decorative-stack;
  color:$brand-gold;
}

.feature-1-col__title {
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-align: center;
  font-family: $header-stack;
  color:white;
}

.contact-info-container {
  background-color: $off-black;
  color:white;
  display:flex;
  min-height: 250px;
}

.contact-info {
  padding: 0px 10%;
  display:flex;
  justify-content:space-between;
  align-content:center;
  width:50%;
  flex-wrap:wrap;
}

.contact-info__text-block {
  font-weight: 200;
  font-size: 14px;
}

.contact-info__title {
  width:100%;
}

//Xl styles and down
@media only screen and (max-width:$xl-max) {
  .feature-1-col {
    height: 600px;
  }
  .feature-2-col {
    height: 600px;
    padding: 0px 200px;
  }
}

//Lg styles and down
@media only screen and (max-width:$lg-max) {
  .feature-2-col {
    padding: 0px 100px;
  }
}

//Medium styles and down
@media only screen and (max-width:$md-max) {
  .feature-1-col {
    height:500px;
  }
  .feature-2-col {
    padding: 0px 20px;
    height:500px;
  }

  .feature-2-col__image-container {
    width: 40%;
  }
}

//Small styles and down
@media only screen and (max-width:$sm-max) {
  .feature-2-col {
    flex-direction: column;
    align-content:center;
    align-items:center;
    justify-content:center;
    padding: 50px 15px;
    height:650px;
  }
 .feature-2-col__text-block {
    padding-left: 0px;
    padding-right: 0px;
    width:100%;
  }

  .feature-2-col:nth-child(4) .feature-2-col__text-block {
    padding-left: 0px;
    padding-right: 0px;
  }

  .feature-2-col:nth-child(2),  .feature-2-col:nth-child(6)  {
    flex-direction: column-reverse;
  }
  .feature-2-col__image {
    width:100%;
    max-width: 400px;
  }
}


//X-Small styles and down
@media only screen and (max-width:$xs-max) {
  .feature-2-col {
    height: 400px;
  }
  .feature-2-col__text-block {
    margin-top: 0px;
  }

  .logo {
    margin-left: 30px;
    margin-top: -20px;
  }

  .hero__pretext {
    font-size: 64px;
  }

  .hero__logo-text {
    font-size: 30px;
  }

  .hero__tagline {
    font-size: 16px;
  }

  .contact-info-container {
      padding: 30px 0px;
  }

  .feature-2-col__image-container, .feature-2-col__image-container-grid,.feature-2-col__image-container-bands {
    display:none;
  }
}
