footer {
  display:flex;
  background-color: #3c3c3c;
}

.footer-text {
  padding:10px 0px;
  text-align: center;
  width:50%;
  font-size: 12px;
  color: white;
}

.map {
  display: flex;
  align-items: center;
}

.contact-info-container {
  background-color: $brand-black;
  color:white;
  display:flex;
  min-height: 250px;
}

.contact-info {
  padding: 0px 10%;
  display:flex;
  justify-content:space-between;
  align-content:center;
  width:50%;
  flex-wrap:wrap;
}

.contact-info__text-block {
  font-weight: 200;
  font-size: 14px;
}

.contact-info__title {
  width:100%;
}

@media only screen and (max-width:$sm-max) {
  .map {
    display: none;
  }
  .contact-info-container {
    min-height: 150px;
  }
}
//X-Small styles and down
@media only screen and (max-width:$xs-max) {
  .contact-info-container {
      padding: 30px 0px;
  }
}


