header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 9;
  width:100%;
  height: 11rem;
  padding-top: 1rem;
}

.logo {
  padding-left: 1.5rem;
  align-self: center;
  width: 25%;
  max-width: 22rem;
  min-width: 15rem;
}

.logo__image {
  width: 100%;
}

.nav {
  padding-right: 2rem;
  width: 60%;
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
}

.menu {
  display:flex;
  justify-content: space-between;
  margin-top: 30px;
  transition:0.2s;
  width: 100%;
  max-width: 40rem;
}

@media only screen and (max-width:$xl-max) {
  //Burger appears *** pos fixed

  header {
    display:block;
  }

  //Mobile menu
  .menu {
    opacity:0;
    flex-direction:column;
    align-items: center;
    font-size: 24px;
    margin-top: -50px;
    text-align: center;
    transform:scale(1,0);
  }
  .nav {
    position: fixed;
    overflow: hidden;
    width: 0px;
    height: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav--mobile-active {
    background-color: rgba(0, 0, 0, 0.88);
    width: 100%;
    height: 100%;
  }

  .nav--mobile-active .menu {
    opacity: 1;
    transform:scale(1,1);
  }

  .menu__link {
    margin-top: 1.5rem;
    margin-right: 0px;
  }

}

