//colors
$brand-gold: #D1AB67;
$off-black: #232323;

//fonts
$header-stack: 'Raleway', sans-serif;
$body-stack: 'helvetica', sans-serif;
$decorative-stack: 'Tangerine',cursive, serif;

//breakpoints
$xl-min: 1700px;

$lg-max: 1699px;
$lg-min: 1200px;

$md-max: 1199px;
$md-min: 900px;

$sm-max: 899px;
$sm-min: 600px;

$xs-max: 599px;


